body {
	margin: 0;
}

html {
	background: #222;
	color: #222;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	font-weight: 300;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	width: 100vw;
}

.Page {
	height: calc(100vh - 4vw);
	padding: 2vw;
	position: relative;
	width: 96vw;
}

@media only screen and (max-width: 800px) {
	html {
    scroll-snap-type: none;
	}
	
	.Page {
		height: auto !important;
	}
}