.Applications {
	background: white;
	box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.48), -0.5vw -0.5vw 1vw rgba(0, 0, 0, 0.48);
	height: calc(100vh - 4vw);
	overflow: hidden;
	scroll-snap-align: center;
	width: 96vw;
	z-index: 1;
}

.Applications canvas {
	position: absolute;
	left: 22vw;
	top: 0;
}

.Applications .Content {
	background: white;
	position: absolute;
	left: 27.5%;
	transform: translate(-50%, -50%);
	top: 50%;
	width: fit-content;
	z-index: 1;
}

.Applications  .Content .Application {
	font-size: 16px;
	margin: 12px 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.Applications .Content .Industries {
	margin-bottom: 30px;
}

.Applications .Content .Title {
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 30px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 650px) {
	.Applications {
		background: none;
		box-shadow: none;
    height: auto;
	}
	
	.Applications canvas {
		background: white;
		box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.48), -0.5vw -0.5vw 1vw rgba(0, 0, 0, 0.48);
		left: 0;
		margin-top: 2vw;
		position: relative;
	}

	.Applications .Content {
		box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.48), -0.5vw -0.5vw 1vw rgba(0, 0, 0, 0.48);
		margin-bottom: 2vw;
		padding: 8vw;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		top: 0;
		width: 88vw;
	}

	.Applications .Solutions {
		margin-left: auto;
		width: fit-content;
	}
}