.Management {
	background: white;
	box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.48), -0.5vw -0.5vw 1vw rgba(0, 0, 0, 0.48);
	height: calc(100vh - 4vw);
	overflow: hidden;
	scroll-snap-align: center;
	width: 96vw;
	z-index: 1;
}

.Management canvas {
	position: absolute;
	left: -27.5vw;
	top: 0;
}

.Management .Content {
	background: white;
	position: absolute;
	left: 80%;
	transform: translate(-50%, -50%);
	top: 50%;
	width: fit-content;
	z-index: 1;
}

.Management .Goal {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 6px;
}

.Management .Stage {
	background: white;
	margin-top: 30px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	width: 300px;
}

.Management .Stage .Step {
	font-size: 16px;
	margin-bottom: 6px;
}

.Management .Title {
	font-size: 32px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}