.NavBar {
	color: black;
	height: 60px;
	margin-left: calc(6vw - 12px);
	position: fixed;
	top: 2vw;
	z-index: 10;
}

.NavBar .MenuIcon {
	float: left;
	height: 36px;
	padding-bottom: 5px;
	padding-top: calc(19px + 2vw);
	width: 50px;
}

.NavBar .MenuIcon:hover {
	cursor: pointer;
}

.NavBar .MenuIcon div {
	background: black;
	float: left;
	height: 1px;
	margin: 3px 12px 3px 12px;
	width: 26px;
}

.NavBar .Change {
	background: white;
}

.NavBar .Change .Bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-45deg) translate(-5px, 5px);
}

.NavBar .Change .Bar2 {
	opacity: 0;
}

.NavBar .Change .Bar3 {
	-webkit-transform: rotate(45deg) translate(-4px, -5px);
	transform: rotate(45deg) translate(-4px, -5px);
}

.NavBarSections {
	background: white;
	float: left;
	overflow: hidden;
	width: 0;
}

.NavBarSections a {
	color: black;
	display: inline-block;
	line-height: 60px;
	padding: 0 8px;
	text-decoration: none;
	width: fit-content;
}

.NavBarSections a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.Show {
	padding-top: 2vw;
	overflow: auto;
	width: fit-content;
}

@media only screen and (max-width: 800px) {
	.NavBar {
    margin-left: 0;
  }
}