.ProjectManagement {
	height: 100vh;
	position: relative;
	scroll-snap-align: center;
	width: 100vw;
}

.ProjectManagement canvas {
	position: absolute;
	left: -20vw;
}

.ProjectManagement .Content {
	background: white;
	margin-top: 9vh;
	padding-left: 10px;
	position: absolute;
	right: 4vw;
	top: 0;
	width: fit-content;
	z-index: 1;
}

.ProjectManagement .Goal {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px;
}

.ProjectManagement .Stage {
	background: white;
	margin-bottom: 30px;
	width: 300px;
}

.ProjectManagement .Stage .Step {
	font-size: 16px;
	margin-bottom: 5px;
}

.ProjectManagement .Title {
	font-size: 32px;
	margin-bottom: 30px;
}